*  {
    list-style: none;
    box-sizing: border-box;
    margin-left: 0;
    margin-right: 0;
}

body {
    height: 145vh;
    font-family: Arial, Helvetica, sans-serif;
    background-image: url(../img/fondo.png);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

h2 {
    font-family: cursive;
    margin-top: 50px;
}

p {
    font-family: cursive;
}

.card {
    box-sizing: border-box;
    width: 820px;
    height: 450px;
    background: rgba(217, 217, 217, 0.727);
    border: 1px solid white;
    box-shadow: 12px 17px 51px rgba(0, 0, 0, 0.22);
    border-radius: 17px;
    text-align: center;
    cursor: pointer;
    transition: all 0.7s;
    display: flex;
    user-select: none;
    color: black;
    z-index: 1;
    margin-left: 10%;
  }
  
  .card:hover {
    border: 1px solid rgb(56, 43, 14);
    transform: scale(1.05);
  }
  
  .card:active {
    transform: scale(0.95) rotateZ(1.7deg);
  }



  .card2 {
    box-sizing: border-box;
    width: 820px;
    height: 450px;
    background: rgba(217, 217, 217, 0.727);
    border: 1px solid white;
    box-shadow: 12px 17px 51px rgba(0, 0, 0, 0.22);
    border-radius: 17px;
    text-align: center;
    cursor: pointer;
    transition: all 0.7s;
    display: flex;
    user-select: none;
    color: black;
    z-index: 1;
    margin-left: 37%;
    margin-top: 100PX;
  }
  
  .card2:hover {
    border: 1px solid rgb(56, 43, 14);
    transform: scale(1.05);
  }
  
  .card2:active {
    transform: scale(0.95) rotateZ(1.7deg);
  }



.cuerpo {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
}

.text {
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.imagen {
    width: 50%;
}

.imagen img{
    width: 75%;
    margin: 20px;
    border-radius: 5px;
    box-shadow: 15px 15px 20px rgb(123, 84, 38);
}



/* Cabecera */



header {
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 5%;
    height: 100px;
    z-index: 2;
}

.logo {
    height: 200px;
}

.menu {
    display: flex;
    justify-content: center;
    align-items: center;
}

.menu a {
    text-decoration: none;

}

.itemm {
    margin: 0 15px;
    font-size: 18px;
    font-weight: 600;
    cursor: pointer;
    color: #7b5426; 
}

.itemm:hover {
    color: #b89582;
}

#menu {
    display: none;
}

.menu-icon {
    width: 25px;
}

label {
    cursor: pointer;
    display: none;
}

.btn {
    padding: 10px 24px;
    border-radius: 30px;
    background-color: #c59056;
    color: #f1e6d8;
    font-weight: 600;
    cursor: pointer;
}

.btn:hover {
    background-color: #7b5426;
}

@media(max-width:991px) {
    .menu {
        padding: 30px;
        margin: 0;
    }

    label {
        display: initial;
    }

    .menu {
        position: absolute;
        top: 100%;
        left: 0;
        right: 0;
        background-color: #b89582;
        display: none;
    }

    .itemm {
        margin: 0 0 20px 0;
        width: 100%;
    }

    .btn {
        width: 100px;
    }

    #menu:checked ~ .menu {
        display: initial;
    }

}





/* Pie de pagina */


#main-footer {
	background: #b89582;
	color: white;
	text-align: center;
	padding: 20px;
    margin-top: 40px;
    margin-bottom: 0;
}
	#main-footer p {
		margin: 0;
	}
	
	#main-footer a {
		color: white;
	}

	.goku {
		color: ghostwhite;
		font-size: 30px;
	}



/* Contenedores  */



div#vacio {
    width: 100%;
    height: 800px;
}

div#contenedor {
    width: 100%;
    height: 1000px;
}

div#body{
    margin: auto;
    width: 690px;
    height: 1000px;
    background-color: antiquewhite;
}




.container {
    display: grid;
    grid-template-columns: 1fr 3fr;
    gap: 20px;
    padding: 20px;
  }
  
  .sidebar {
    padding: 20px;
    border-radius: 5px;
  }
  
  .content {
    background-color: #e4e4e4;
    padding: 20px;
    width: 90%;
    height: 100%;
    border-radius: 5px;
    box-shadow: 15px 15px 20px rgb(123, 84, 38);
    display: flex;
  }

  .content1 {
    background-color: #e4e4e4;
    padding: 20px;
    width: 280%;
    border-radius: 5px;
    box-shadow: 15px 15px 20px rgb(123, 84, 38);
    display: block;
    align-items: center;
  }

  .content11 {
    background-color: #e4e4e4;
    padding: 20px;
    width: 35%;
    border-radius: 5px;
    box-shadow: 15px 15px 20px rgb(123, 84, 38);
    align-items: center;
    margin-right: 10%;
    margin-top: 3%;
    margin-bottom: 3%;
  }

  .content12 {
    background-color: #e4e4e4;
    padding: 20px;
    width: 35%;
    border-radius: 5px;
    box-shadow: 15px 15px 20px rgb(123, 84, 38);
    align-items: center;
    margin-right: 10%;
    margin-left: 25%;
    margin-top: 3%;
    margin-bottom: 3%;
  }

  .content13 {
    background-color: #e4e4e4;
    padding: 20px;
    width: 80%;
    border-radius: 5px;
    box-shadow: 15px 15px 20px rgb(123, 84, 38);
    align-items: center;
    margin-right: 10%;
    margin-top: 3%;
    margin-bottom: 3%;
  }

  .content14 {
    background-color: #e4e4e4;
    padding: 20px;
    width: 80%;
    border-radius: 5px;
    box-shadow: 15px 15px 20px rgb(123, 84, 38);
    align-items: center;
    margin-right: 10%;
    margin-top: 3%;
    margin-bottom: 3%;
    height: 30%;
  }

.image {
    width: 100%;
    border-radius: 10px;
}
	
.red-button {
    width: 80%;
    text-decoration: none;
    color: #000;
    background-color: #b89582;
    padding: 8px 16px;
    border-radius: 5px;
    border: solid brown 1px;
    margin-left: 20px;
    font-family: cursive;
    margin-top: 35%;
}


.carousel{
    width: 10vw;
    height: 10vh;
    position: center;
    overflow: hidden;
    margin-top: 50px;
}

.list{
    width: 100%;
    height: 90%;
}

.item{
    width: 100%;
    height: 90%;
    background-color: var(--background);
    position: absolute;
    top: 0;
    left: 0;
    overflow: hidden;
    display: none;
}
.item img.fruit{
    width: 90%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1;
    pointer-events: none;
}
.item .contentt{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    font-size: 12rem;
    color: #eee;
    font-weight: bold;
    font-family: system-ui;
    text-transform: uppercase;
    white-space: nowrap;
}
.item.active{
    display: block;
}
.item.hidden{
    display: block;
    pointer-events: none;
    background-color: transparent;
    z-index: 1;
}


#prev,
#next{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: transparent;
    border: 1px solid #eee9;
    background-color: #eee5;
    color: #eee;
    font-size: x-large;
    font-family: monospace;
    cursor: pointer;
    z-index: 2;
}
#prev{
    left: 20px;
}
#next{
    right: 20px;
}


@keyframes toActive{
    from{
        top: 100%;
        opacity: 0;
    }
}
@keyframes toOut{
    from{
        top: 50%;
        opacity: 1;
    }
}
.item.active img.fruit{
    animation: toActive 0.5s ease-in-out 1;
}
.item.hidden img.fruit{
    animation: toOut 0.8s ease-in-out 1;
    top: -100%;
    opacity: 0;
}
.item.active .contentt{
    animation: toActive 0.8s ease-in-out 1;
}
.item.hidden .contentt{
    opacity: 0;
}


.carousel.right .item.active img.fruit{
    animation: toActivePrev 0.5s ease-in-out 1;
}
.carousel.right .item.hidden img.fruit{
    animation: toOut 0.8s ease-in-out 1;
    top: 100%;
    opacity: 0;
}
.carousel.right .item.active .content{
    animation: toActivePrev 0.8s ease-in-out 1;
}


@keyframes toActivePrev{
    from{
        top: 0;
        opacity: 0;
    }
}


:root{
    --width-pp: calc(371px / 1.5);
    --height-pp: calc(293px / 1.5);
}

.mockup {
    position: absolute;
    top: 50%;
    left: 50%;
    --left: 0%;
    transform: translate(-50%, -50%);
    height: var(--height-pp);
    width: var(--width-pp);
    background: 
        url(pp.png)  0 0 no-repeat,
        url(tt.png) var(--left) 0;
    background-size: auto 100%;
    background-blend-mode: multiply; 
    -webkit-mask-image: 
    url(img/pp.png);
    -webkit-mask-repeat: no-repeat;
    -webkit-mask-size: auto 100%;
    transition: background 0.5s;
}

.shadow{
    width: 500px;
    height: 100px;
    background-color: rgba(0, 0, 0, 0.216);
    border-radius: 50%;
    position: absolute;
    top: 65% ;
    left: 15%;
    transform: translateX(50%);
    filter: blur(20px);
}
@media screen and (max-width: 768px) {
    .item .content{
        transform: translate(-50%, -50%) scale(.5);
    }
    .item img.fruit{
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
}